*{
    margin:0;
    padding:0;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    background-color: #0f0f0f;
    animation:animate 5s linear infinite;
}
@keyframes animate{
    0%{
        filter: hue-rotate(0deg)
    }
    100%{
        filter: hue-rotate(360deg)
    }
}
.container{
    position:relative;
    width:300px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.container .element{
    position:relative;
    width:40px;
    height:40px;
    background-color: #ff6868;
    border-radius: 5px;
    animation: scale 7s ease-in-out infinite;
    animation-delay: calc(var(--i)*.1s);
    transform: scale(.13);
    box-shadow: 
                0px 0px 30px #ff0000,
                0px 0px 60px #ff0000,
                0px 0px 90px #ff0000;
}
@keyframes scale{
    0%, 100%{
        transform: scale(.13);
    }
    50%{
        transform: scale(1);
    }
}